body {
    background-color: #2e3440;
}
.pannel {
    background-color: #3b4252;
}
.rcorners {
    border-color: #3b4252;
}
#footer {
    background-color: transparent;
}
#chat-input {
    background-color: #4c566a;
}
#config-container {
    background-color: #434c5e;
}
#attach-button-svg:hover {
    fill: #eceff4;
}
#config-type:hover {
    fill: #eceff4;
}
.config-client {
    background-color: #4c566a;
}
.config-client:empty:not(:focus):before {
    color: #d8dee9;
}
.config-client:not(:empty) {
    color: #eceff4;
}
.config-button {
    background-color: #3b4252;
}
.config-button:hover {
    background-color: #2e3440;
}
.menu {
    background-color:#4c566a;
}
.menu-options {
    background-color:#81a1c1;
}
.menu-button {
    background-color:#2e3440;
}
.menu-button svg {
    fill:#eceff4;
}
.menu-button:hover svg{
    fill:#81a1c1;
}
.option {
    background-color: #5e81ac;
}
.hljs-number {
    color: #ebcb8b;
}
.hljs-attr {
    color:#bf616a;
}
.hljs-string {
    color: #d08770;
}
.hljs-literal {
    color: #b48ead;
}
.UIEmbedElement {
    background-color: #2e3440;
}